* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DotGothic16', sans-serif;
}

body {
    padding: 20px;

    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

.top {
    padding-top: 50px;
}

.top__content {
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
}

.top__name,
.top__profession {
    font-size: 36px;
    line-height: 28px;
    color: #101214;
}

.top__profession {
    margin-top: 10px;

    font-size: 18px;
    font-weight: normal;
}

.top__img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.about {
    padding: 30px 0;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}

.about__title {
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.about__left-item,
.about__right-item {
    margin-bottom: 20px;
}

.about__links {
    display: flex;
    flex-direction: column;
}

.about__link,
.footer__link {
    margin-bottom: 5px;

    color: #000;
    text-decoration: underline;
}

.about__profession {
    margin-bottom: 10px;

    margin-right: 20px;
}

span {
    font-weight: normal;
    font-size: 16px;
}

.about__contacts {
    list-style: none;
}

.footer {
    padding: 30px 0;
}

.footer__logo-img {
    height: 30px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
}

.footer__year {
    font-size: 30px;
    font-weight: 700;
}

@media (max-width: 650px) {
    .about__wrapper {
        flex-wrap: wrap;
    }

    .top {
        padding-top: 0;
    }

    .footer__wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer__logo-img,
    .footer__link {
        margin-bottom: 10px;
    }
}